<template>
    <Page>
        <ActionBar title="Welcome to NativeScript-Vue!"/>
        <StackLayout >
            <Label class="message" text="Parent layout component" />
            <PostPage msg="Post page component"/>
        </StackLayout>
    </Page>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from "vue-property-decorator";
    import PostPage from "@/components/PostPage.vue";
    @Component({
        components:{
          PostPage,
        },
    })
    export default class App extends Vue {
    }
</script>

<style scoped>
    ActionBar {
        background-color: #53ba82;
        color: #ffffff;
    }

    .message {
        vertical-align: center;
        text-align: center;
        font-size: 20;
        color: #333333;
    }
</style>
